{% extends 'template.html' %}
{% block conteudo %}
<div class="container">
    {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        
    <h1> Faça seu login</h1>
    <form method="post" action={{url_for('autenticar')}}>
        <p><label class="text-light">Nome de Usuário:</label><input class="form-control" type="text" name="usuario" required></p>
        <p><label class="text-light">Senha:</label><input class="form-control" type="password" name="senha" required></p>
        <p><button class="btn btn-secondary btn-block" type="submit">Entrar</button></p>
    </form>
</div>
{% endblock %}